<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.SignIn</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.0-pre8</Version>
  <AppName>SignIn</AppName>
  <Executable>app/SignIn.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>SignIn.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>SignIn</DisplayName>
  <Heading>Sign-In</Heading>
  <Description>SignIn Application, Sign in a user into the system (tested with Starcounter 2.0.3103.3)</Description>
  <VersionDate>2015-03-27T12:00:00Z</VersionDate>
</PackageConfig>