<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.SignIn</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.0</Version>
  <AppName>SignInApp</AppName>
  <Executable>app/SignInApp.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>SignIn.png</ImageUri>
  <DisplayName>SignIn</DisplayName>
  <Company>Polyjuice</Company>
  <Description>SignIn Application</Description>
  <VersionDate>2014-11-06T08:50:00Z</VersionDate>
</PackageConfig>