<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.SignIn</Namespace>
  <Channel>Stable</Channel>  
  <Version>3.1.1</Version>
  <AppName>SignIn</AppName>
  <Executable>app/SignIn.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>SignIn.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>Sign In</DisplayName>
  <Description>Authenticate **users** with a username and password (default admin/admin).</Description>
  <VersionDate>2015-10-09T12:02:00Z</VersionDate>
  <Dependency name="Starcounter">2.1.116</Dependency>
</PackageConfig>