<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.SignIn</Namespace>
  <Channel>Stable</Channel>
  <Version>5.0.0</Version>
  <AppName>SignIn</AppName>
  <Executable>app/SignIn.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>SignIn.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Sign In</DisplayName>
  <Description>Authenticate **users** with a username and password (default admin/admin).</Description>
  <VersionDate>2016-08-12T15:56:49Z</VersionDate>
  <Dependency name="Starcounter">~2.2.1834</Dependency>
</PackageConfig>
